@using BlazorApp1.Models
@using BlazorApp1.Services
@inject ServerService serverService
@inject NavigationManager navigationManager

<div class="modal" tabindex="-1" role="dialog" style="display:block">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Информация о сервере</h5>
                <button type="button" class="close" @onclick="CloseModal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Имя сервера: @Server.UserName</p>
                <p>Порт: @Server.Port</p>
                <p>Хост: @Server.Host</p>
                @* <p>Логин: @Server.Login</p> *@
                <p>Пароль: @Server.Password</p>
                <p>База данных: @Server.Database</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Server Server { get; set; }

    [Parameter]
    public EventCallback OnModalClosed { get; set; }

    private void CloseModal()
    {
        // Закрытие модального окна
        OnModalClosed.InvokeAsync();
        navigationManager.NavigateTo("/success", true);
    }
}
